.nav {
    z-index: 99;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.navigate * {
    display: inline;
    margin: 10px;
}