#divVilla{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 4px;
    padding-right: 4px; */
  }
  
  #Name{
    font-size: 23px ;
    display: inline-block;
    display: block ruby;
    margin-right: -5%;
  }
  #Prix{
    font-size: 17px ;
    display: inline-block;
    margin-left: 29%;
  
  }
  #Adresse{
    font-size: 13px ;
  }