#divVilla {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding-left: 4px;
    padding-right: 4px; */
}

#Name {
  font-size: 23px;
  display: inline-block;
  display: block ruby;
  margin-right: -5%;
}

#Prix {
  font-size: 17px;
  display: inline-block;
  margin-left: 29%;
  font-weight: 500;
  color: #e3061e;
}

#Adresse {
  font-size: 13px;
}

.divImage {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 225px;
  border-radius: 10px 10px 0px 0px;
}